<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas anônimas</title>
 
    <!-- Estilos -->
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/home.css">
    <!--Fontes  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">




</head>
<body>
    <div id="home" class="content">

        <header>
            <a href="index.ejs">
                <img src="images/Logo.svg" alt="logo">
            </a>
        </header>

        <div id="bg">
            <div class="ball top"></div>
            <div class="ball botton"></div>
        </div>

        <main>
         <div class="container">
           <section>
               <h2>Crie sua própria sala</h2>
               <form action="/room/create-room">
                   <label class="sr-only" for="room-id">Isira uma senha</label>
                   <input type="number" name="" id="room-id" placeholder="Código da sala">
                   <button><img src="images/userswhite.svg" alt="Entrar sala"> Criar sala</button>
               </form>
           </section>

        </div>
    
        </main>
    </div>  
</html>